<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30505540086-5mpnarg6c4jboa5mn3n4jsecampjtrfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30505540086-5mpnarg6c4jboa5mn3n4jsecampjtrfu</string>
	<key>API_KEY</key>
	<string>AIzaSyD_-IL6bILw-rZsVS1JqM5iDjAZoWorI7k</string>
	<key>GCM_SENDER_ID</key>
	<string>30505540086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sambath.instagram.dev</string>
	<key>PROJECT_ID</key>
	<string>instagram-dev-372f9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-dev-372f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30505540086:ios:aa688744d684be82d20fd7</string>
</dict>
</plist>